._filaDBA {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.BoxDBA {
    margin: auto;
    margin-top: 60px;
    position: relative;

    width: 680px;

    border: 2px solid #02732A;
    border-radius: 10px;
}

#botonDBA {
    background-color: #02732A;
    color: #f2f2f2;

    border-radius: 5px;
    border-color: #02732A;
    border-width: 1px;
    
    width: 500px;

    font-size: 18px;

    margin-top: 30px;
    margin-bottom: 10px;
}

#botonDBA:hover {
    background-color: #80E673;
    border-color: #80E673;
    color: #1F3821;
}

select {
    background-color: #f2f2f2;
    border: 1.5px solid #02732A;
    border-radius: 5px;
    width: 500px;
    height: 45px;

    font-size: 15px;

    margin-top: 25px;
}