/**/
#Box_RT {
	width: 660px;
	border: 2px solid #02732A;
	border-radius: 10px;

	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

#Box1_RT {
	display: flex;
	justify-content: center;
	align-content: center;

	margin-top: 3vw;
	margin-left: 2vw;
    margin-right: 1vw;
	margin-bottom: 1vw;
}

#Box2_RT {
	display: flex;
	justify-content:flex-start;
	align-content: flex-start;

    margin-left: 2vw;
}

#Box3_RT {
	display: flex;
	justify-content: center;
	align-content: center;
	
	margin-left: 2vw;
	margin-right: 2vw;
	margin-bottom: 1vw;
}

#Box4_RT {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;

    margin-left: 2vw;
}

#Box5_RT {
	display: flex;
	justify-content: center;
	align-content: center;

	margin-bottom: 3vw;
}

#asterisco_RT {
	font-size: 20px;
	color: #BF0404;
	font-weight: bold;
}

#body_RT {
	background-color: #f2f2f2;
}

#Boton_RT {
	background-color: #02732A;
	color: #f2f2f2;

	border-radius: 5px;
	border-color: #02732A;

	font-size: 18px;

	height: 55px;
}

#Boton_RT:hover {
	background-color: #80E673;
	border-color: #80E673;
	color: #1F3821;
}

#empleadoss {
	background-color: #f2f2f2;
	border: 1.5px solid #02732A;
	border-radius: 5px;
	width: 520px;
	height: 50px;

	font-size: 15px;
}