@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

.sub {
  height: auto;
  width: auto;
  display: flex;
  align-items: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.9vw;
  padding-top: 0.5vw;
}

.sub:hover {
  color: #AB5302;
  text-decoration: underline;
}

a {
  color: #3B2C01;
  text-decoration: none;
}

.menu_user {
  min-height: 42.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #202020;
}

.caja_R{
  display: flex;
  position: absolute;
  transition: 0.3s all;
  margin-top:28vw;
}

.caja{
display: flex;
position: absolute;
margin-top:20vw;
}

.caja_R2{
  display: flex;
  position: absolute;
  transition: 0.3s all;
  margin-top: 440px;
}

.down{
color: #FFEF05;
font-size:2vw;
display: flex;
position: absolute;
top: 0vw;
right:1vw;
}

.point{
font-size: 0.5vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: absolute;
left: 2vw;
padding-top: 0.5vw;
}

.BackApp {
  background-color: #f2f2f2;
}

.SupApp {
  display: flex;
  height: 100%;
  background-color: #f2f2f2;
}

.PiedePagina {
  background-color: #f2f2f2;
  align-items: flex-end;
}