.App {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /**font-size: calc(10px + 2vmin);**/
  color: #202020;
}

.BackApp {
  background-color: #f2f2f2;
}

.SupApp {
  display: flex;
	height: 100%;
}

.Content {
  background-color: #f2f2f2;
}

.PiedePagina {
  background-color: #f2f2f2;
  align-items: flex-end;
}

.aaa {
  display: flex;
  margin-left: 30px;
}

.texto {
  margin-top: 50px;
  margin-left: 30px;
}

.asterisco {
  font-size: 100px;
  color: #BF0404;

  margin-top: -20px;
  margin-left: 300px;
  margin-bottom: -60px;
}

.advertencia {
  color: #202020;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: -55px;
  width: 300px;
}